@{
    ViewBag.Title = "BillApp";
}

<div class="jumbotron">
    <h1>BillApp</h1>
    <p class="lead">Una original pagina para administrar el proceso de facturacion</p>
    <p><a href="https://www.twitter.com/mariobot" class="btn btn-primary btn-lg">Mayo informacion</a></p>
</div>
