@{
    ViewBag.Title = "BillApp";
}

<div class="jumbotron">
    <h1>BillApp</h1>
    <p class="lead">An original website to manage your invoice process</p>
    <p><a href="https://www.twitter.com/mariobot" class="btn btn-primary btn-lg">For more information</a></p>
</div>
