@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Un error ha ocurrido.</h1>
<h2 class="text-danger">Un error ha ocurrido mientras se prosesaba su peticion.</h2>

