@{
    ViewBag.Title = "Confirmar Email";
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar tu email. Por favor @Html.ActionLink("Hacer click aqui para iniciar sesion", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
